/* ------------- BODY ------------- */
body {
	max-width: 64rem;
	margin: auto;
}





/* ------------- HEADER ------------- */
header {
	background-image: url(../images/header1600.jpg),url(../images/headerRepeat.jpg);
	background-repeat: no-repeat, repeat-x;
	background-color: #9b98b0;

	#hamBTN {
		display: none;
	}
}


/* NAV  */
nav {
	height: 2.6rem;
	max-width: 64rem;
	margin: 0 auto;

	ul li a span {
		display: inline;
	}

	ul {
		font-weight: $boldWeight;

		li {
			font-weight: $boldWeight;
		}
	}

	ul li.active a {
		background-color: lighten($secondaryColor, 10%);
	}
	
	ul li a:hover {
		background-color: lighten($secondaryColor, 10%);
	}
}






/* ----------------PLAN YOUR VISIT----------------- */
div.plan {
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 0;

	a  ion-icon {
		font-size: 45px;
	  }

	h2 {
		font-size: 20px;
		text-align: center;

	}
	
	
	
	}//END.PLAN




	nav {
	
		background-color: $menuColor;
	
		ul {
			margin: 0 0 0 2w;
			padding: 0;
			// border-left: 1px solid rgba(0,0,0,0.2);
	
		}
		ul>li {
			float: left;
			list-style: none;
			border-left: 1px solid rgba(0,0,0,0.2);
		}
	
		ul li:last-child {
			border-right: 1px solid rgba(0,0,0,0.2);
		}
	
		ul li a { 
			display: block;
			border: none; // undo small screen
			border-right: 1px solid rgba(0,0,0,0.2);
			background: none;
			font-size: .9em;
			padding: .9em .9em;
			color: rgba(255,255,255,1);
			text-decoration: none;
			/*transition*/
			-webkit-transition: background 0.3s linear; 
			transition: background 0.3s linear;
			color: $menuTextColor;
		}
	
		ul li a:hover {
			background: darken($menuColor,5%);
		}
	
		#primaryNAV li > a::before {
			font-size: .75rem;
			content: "\25BC";
			color: rgba(255,255,255,.5);
		}
		
		
		ul li ul { /*rules for the sub menu items*/
			z-index:998;
			position: absolute;
			background-color: lighten($menuColor, 10%);
			left: -999em; /* pushes the menu way off to the side */
			width: 12em;
		}
	
		 ul li ul li { /* overides the float and line from the parent ul */
			width: 100%;
			border: none;
			border-top: solid 1px rgba(0,0,0,0.2);
		}
	
		 ul li:hover ul { /* this displays the menus as drop downs  */
			left: auto;
			margin-left: 0;
		}
	
		li.current-menu-item a {
			background-color: lighten($secondaryColor, 10%);
		}


	
	
		
		
		
	} // end nav





